src/main/xsd/assertion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:oasis:names:tc:SAML:2.0:assertion" xmlns:n1="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oasis:names:tc:SAML:2.0:assertion">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig.xsd"/>
	<xs:element name="Subject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NameID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NameID">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="899900063480"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Issuer">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Format" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AuthnStatement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AuthnContext"/>
			</xs:sequence>
			<xs:attribute name="AuthnInstant" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2019-06-26T08:46:06.839Z"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AuthnContextClassRef" type="xs:string"/>
	<xs:element name="AuthnContext">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AuthnContextClassRef"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttributeValue"/>
	<xs:element name="AttributeStatement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Attribute" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Attribute">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AttributeValue" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Authentification_mode"/>
						<xs:enumeration value="Identifiant_Structure"/>
						<xs:enumeration value="LPS_ID"/>
						<xs:enumeration value="LPS_ID_HOMOLOGATION_DMP"/>
						<xs:enumeration value="LPS_Nom"/>
						<xs:enumeration value="LPS_Version"/>
						<xs:enumeration value="Ressource_URN"/>
						<xs:enumeration value="Secteur_Activite"/>
						<xs:enumeration value="VIHF_Version"/>
						<xs:enumeration value="urn:oasis:names:tc:xacml:2.0:resource:resource-id"/>
						<xs:enumeration value="urn:oasis:names:tc:xacml:2.0:subject:role"/>
						<xs:enumeration value="urn:oasis:names:tc:xspa:1.0:subject:purposeofuse"/>
						<xs:enumeration value="urn:oasis:names:tc:xspa:1.0:subject:subject-id"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Assertion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Issuer"/>
				<xs:element ref="n1:Signature"/>
				<xs:element ref="Subject"/>
				<xs:element ref="AuthnStatement"/>
				<xs:element ref="AttributeStatement"/>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="2.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IssueInstant" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2019-06-26T08:46:06.839Z"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="_65db4fa8-b44a-4c11-adc5-135dcc327b24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
