src/main/xsd/generateVIHF2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2000/09/xmldsig#">
    <xs:element name="X509Data">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="X509Certificate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="X509Certificate" type="xs:string"/>
    <xs:element name="Transforms">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Transform" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Transform">
        <xs:complexType>
            <xs:attribute name="Algorithm" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SignedInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CanonicalizationMethod"/>
                <xs:element ref="SignatureMethod"/>
                <xs:element ref="Reference"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SignatureValue" type="xs:string"/>
    <xs:element name="SignatureMethod">
        <xs:complexType>
            <xs:attribute name="Algorithm" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:enumeration value="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="Signature">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SignedInfo"/>
                <xs:element ref="SignatureValue"/>
                <xs:element ref="KeyInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Reference">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Transforms"/>
                <xs:element ref="DigestMethod"/>
                <xs:element ref="DigestValue"/>
            </xs:sequence>
            <xs:attribute name="URI" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="#_65db4fa8-b44a-4c11-adc5-135dcc327b24"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="KeyInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="X509Data"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DigestValue">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="8Unw4fLPth5zeJaVXXF1AdFJbLA="/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DigestMethod">
        <xs:complexType>
            <xs:attribute name="Algorithm" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:enumeration value="http://www.w3.org/2000/09/xmldsig#sha1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="CanonicalizationMethod">
        <xs:complexType>
            <xs:attribute name="Algorithm" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="http://www.w3.org/2001/10/xml-exc-c14n#"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
