src/main/xsd/vihf1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema targetNamespace="urn:oasis:names:tc:SAML:2.0:assertion" xmlns="urn:oasis:names:tc:SAML:2.0:assertion" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hl7="urn:hl7-org:v3">
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="vihf3.xsd"/>
	<xs:element name="Subject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NameID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NameID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="899700366240"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Issuer">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Format" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AuthnStatement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AuthnContext"/>
			</xs:sequence>
			<xs:attribute name="AuthnInstant" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2022-10-11T15:08:44.0Z"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AuthnContextClassRef" type="xs:string"/>
	<xs:element name="AuthnContext">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AuthnContextClassRef"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttributeValue">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0">
				<xs:element ref="hl7:PurposeOfUse"/>
				<xs:element ref="hl7:Role"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttributeStatement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Attribute" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Attribute">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AttributeValue" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Authentification_mode"/>
						<xs:enumeration value="Identifiant_Structure"/>
						<xs:enumeration value="LPS_ID_HOMOLOGATION_DMP"/>
						<xs:enumeration value="LPS_Nom"/>
						<xs:enumeration value="LPS_Version"/>
						<xs:enumeration value="Ressource_URN"/>
						<xs:enumeration value="Secteur_Activite"/>
						<xs:enumeration value="VIHF_Version"/>
						<xs:enumeration value="urn:oasis:names:tc:xacml:2.0:resource:resource-id"/>
						<xs:enumeration value="urn:oasis:names:tc:xacml:2.0:subject:role"/>
						<xs:enumeration value="urn:oasis:names:tc:xspa:1.0:subject:purposeofuse"/>
						<xs:enumeration value="urn:oasis:names:tc:xspa:1.0:subject:subject-id"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Assertion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Issuer"/>
				<xs:element ref="Subject"/>
				<xs:element ref="AuthnStatement"/>
				<xs:element ref="AttributeStatement"/>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IssueInstant" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2022-10-11T15:08:44.0Z"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="b2cf63db-3fdd-4f5b-8f00-fa110b0cade0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
