src/main/xsd/vihf1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:n1="http://wwww.w3.org/2001/XMLSchema-instance" xmlns:n2="urn:hl7-org:v3">
	<xsd:import namespace="urn:hl7-org:v3" schemaLocation="vihf3.xsd"/>
	<xsd:import namespace="http://wwww.w3.org/2001/XMLSchema-instance" schemaLocation="vihf2.xsd"/>
	<xsd:element name="Subject">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NameID"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Security">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Assertion"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PurposeOfUse">
		<xsd:complexType>
			<xsd:attribute ref="n1:type" use="required"/>
			<xsd:attribute name="displayName" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Accès normal"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="codeSystemName" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="mode acces VIHF 2.0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="codeSystem" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="1.2.250.1.213.1.1.4.248"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="code" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="normal"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameID">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="899700366240"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Issuer">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Format" use="required" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AuthnStatement">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AuthnContext"/>
			</xsd:sequence>
			<xsd:attribute name="AuthnInstant" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="2022-10-11T15:08:44Z"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AuthnContextClassRef" type="xsd:string"/>
	<xsd:element name="AuthnContext">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AuthnContextClassRef"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AttributeValue">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0">
				<xsd:element ref="PurposeOfUse"/>
				<xsd:element ref="n2:Role"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AttributeStatement">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Attribute" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Attribute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AttributeValue" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="Name" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Authentification_mode"/>
						<xsd:enumeration value="Identifiant_Structure"/>
						<xsd:enumeration value="LPS_ID_HOMOLOGATION_DMP"/>
						<xsd:enumeration value="LPS_Nom"/>
						<xsd:enumeration value="LPS_Version"/>
						<xsd:enumeration value="Ressource_URN"/>
						<xsd:enumeration value="Secteur_Activite"/>
						<xsd:enumeration value="VIHF_Version"/>
						<xsd:enumeration value="urn:oasis:names:tc:xacml:2.0:resource:resource-id"/>
						<xsd:enumeration value="urn:oasis:names:tc:xacml:2.0:subject:role"/>
						<xsd:enumeration value="urn:oasis:names:tc:xspa:1.0:subject:purposeofuse"/>
						<xsd:enumeration value="urn:oasis:names:tc:xspa:1.0:subject:subject-id"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Assertion">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Issuer"/>
				<xsd:element ref="Subject"/>
				<xsd:element ref="AuthnStatement"/>
				<xsd:element ref="AttributeStatement"/>
			</xsd:sequence>
			<xsd:attribute name="Version" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="2.0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="IssueInstant" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="2022-10-11T15:08:44Z"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ID" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="b2cf63db-3fdd-4f5b-8f00-fa110b0cade0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
