src/main/xsd/vihf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xsd:schema targetNamespace="http://www.w3.org/2003/05/soap-envelope" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://www.w3.org/2003/05/soap-envelope">
	<xsd:import schemaLocation="vihf1.xsd"/>
	<xsd:element name="Header">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Security"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Envelope">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="soap:Header"/>
				<xsd:element ref="soap:Body"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Body" type="xsd:string"/>
</xsd:schema>
