src/main/xsd/vihf5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xsd:schema targetNamespace="http://www.w3.org/2005/08/addressing" xmlns="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="ST_Action">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="urn:hl7-org:v3:PRPA_IN201314UV02"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="To">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="ReplyTo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Address"/>
			</xsd:sequence>
			<xsd:attribute name="mustUnderstand" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="true"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MessageID">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="urn:uuid:798d8243-b4e3-4890-a9d5-30fa13926e95"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Address">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="http://www.w3.org/2005/08/addressing/anonymous"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Action">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="ST_Action">
					<xsd:attribute name="mustUnderstand" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="true"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
